<div
  class="select-box__group"
  role="group"
  aria-labelledby={{this.labelId}}
  ...attributes
>
  <div class="select-box__group-label" id={{this.labelId}}>
    {{@label}}
  </div>
  <div class="select-box__group-options">
    {{yield}}
  </div>
</div>