<div class="simple-select-display-label">
  {{displayLabel}}
</div>
{{#select-box/native
  value=attrs.value
  on-focus-in=(action 'focusIn')
  on-focus-out=(action 'focusOut')
  on-update=(action 'updateDisplayLabel')
  on-select=attrs.on-select as |sb|}}
  {{yield sb}}
{{/select-box/native}}
