.basic-select,
.basic-select * {
  border: 1px solid silver;
  margin: 2px;
  padding: 2px;
}
.basic-select.select-box {
  outline: none
}
.basic-select.select-box.is-focused {
  border-color: #666
}
.basic-select .select-box-option {
  cursor: pointer;
}
.basic-select .select-box-option.is-active {
  border-color: green
}
.basic-select .select-box-option.is-selected {
  border-color: red
}
.basic-select .select-box-group-label {
  font-weight: bold
}