.colour-select {
  display: inline-block;
  outline: none;
}

.colour-select--focused .colour-select__selected-option {
  border-color: dimgrey;
}

.colour-select__option,
.colour-select__selected-option {
  cursor: pointer;
  width: 20px;
  height: 20px;
  border: 2px solid silver;
  padding: 2px;
  margin: 2px;
}

.colour-select__option {
  display: inline-block;
}

.colour-select__option--selected {
  border-color: red;
}

.colour-select__option--active {
  border-color: green;
}
