.colour-select {
  display: inline-block;
}

.colour-select * {
  border: 1px solid silver;
  margin: 2px;
  padding: 2px;
}

.colour-select.is-focused {
  border-color: #666;
  outline: none;
}

.colour-select-option,
.colour-select-selected-option {
  cursor: pointer;
  width: 20px;
  height: 20px;
}

.colour-select-option {
  display: inline-block;
}

.colour-select-options {
  height: 30px;
}

.colour-select-option.is-active {
  border-color: green;
}

.colour-select-option.is-selected {
  border-color: red;
}
