.colour-select {
  display: inline-block;
}
.colour-select * {
  border: 1px solid silver;
  margin: 2px;
  padding: 2px;
}
.colour-select-box.is-focused {
  border-color: #666;
  outline: none
}
.colour-select-box:not(.is-open) .colour-select-box-options {
  display: none
}
.colour-select-box-option,
.colour-select-box-selected-option {
  cursor: pointer;
  width: 20px;
  height: 20px;
  text-indent: -1000%;
}
.colour-select-box-option {
  display: inline-block;
}
.colour-select-box-option.is-active {
  border-color: green
}
.colour-select-box-option.is-selected {
  border-color: red
}