.filter-select {
  display: inline-block;
  min-width: 200px;
  outline: none;
  border: 2px solid var(--border-colour);
  margin: 2px;
  padding: 2px;

  &:focus-within {
    border-color: var(--focus-within-border-colour);
  }

  .select-box__option,
  .select-box__selected-option {
    cursor: pointer;
    border: 2px solid var(--border-colour);
    padding: 2px;
    margin: 2px;
  }

  .select-box__input {
    font-family: var(--font-family);
    font-size: 100%;
    border: 0;
    outline: none;
    width: 100%;
    box-sizing: border-box;
  }

  .select-box__option[aria-selected='true'] {
    border-color: var(--aria-selected);
  }

  .select-box__option[aria-current='true'] {
    border-color: var(--aria-current);
  }
}
