.search-select {
  display: inline-block;
  min-width: 200px;
  outline: none;
  border: 2px solid silver;
  margin: 2px;
  padding: 2px;
}

.search-select.is-focused {
  border-color: dimgrey;
}

.search-select-option,
.search-select-selected-option {
  cursor: pointer;
  border: 2px solid silver;
  padding: 2px;
  margin: 2px;
}

.search-select-input {
  font-family: serif;
  font-size: 100%;
  border: 0;
  outline: none;
  width: 100%;
  box-sizing: border-box;
}

.search-select-option.is-selected {
  border-color: red;
}

.search-select-option.is-active {
  border-color: green;
}
