.simple-select {
  display: inline-block;
  min-width: 200px;
  outline: none;
  border: 2px solid silver;
  margin: 2px;
  padding: 2px;
}

.simple-select--focused {
  border-color: dimgrey;
}

.simple-select--open .simple-select__options {
  display: block;
}

.simple-select__option,
.simple-select__selected-option {
  cursor: pointer;
  border: 2px solid silver;
  margin: 2px;
  padding: 2px;
}

.simple-select__options {
  display: none;
  max-height: 200px;
  overflow: auto;
}

.simple-select__option--selected {
  border-color: red;
}

.simple-select__option--active {
  border-color: green;
}

.simple-select__selected-option {
  min-height: 18px;
}
