.simple-select {
  display: inline-block;
  min-width: 200px;
  outline: none;
  border: 2px solid silver;
  margin: 2px;
  padding: 2px;
}

.simple-select.is-focused {
  border-color: dimgrey;
}

.simple-select.is-open .simple-select-options {
  display: block;
}

.simple-select-option,
.simple-select-selected-option {
  cursor: pointer;
  border: 2px solid silver;
  margin: 2px;
  padding: 2px;
}

.simple-select-options {
  display: none;
  max-height: 200px;
  overflow: auto;
}

.simple-select-option.is-active {
  border-color: green;
}

.simple-select-option.is-selected {
  border-color: red;
}
