.simple-select {
  display: inline-block;
  min-width: 200px;
  outline: none;
  border: 2px solid silver;
  margin: 2px;
  padding: 2px;

  &:focus-within {
    border-color: dimgrey;
  }

  &[aria-expanded='true'] .select-box__options {
    display: block;
  }

  .select-box__option,
  .select-box__selected-option {
    cursor: pointer;
    border: 2px solid silver;
    margin: 2px;
    padding: 2px;
  }

  .select-box__options {
    display: none;
    max-height: 200px;
    overflow: auto;
  }

  .select-box__option[aria-selected='true'] {
    border-color: red;
  }

  .select-box__option[aria-current='true'] {
    border-color: green;
  }

  .select-box__selected-option {
    min-height: 18px;
  }
}
