.single-select {
  outline: none;
  max-width: 200px;
  border: 2px solid silver;
  margin: 2px;
  padding: 2px;
}

.single-select--focused {
  border-color: dimgrey;
}

.single-select__option {
  cursor: pointer;
  border: 2px solid silver;
  padding: 2px;
  margin: 2px;
}

.single-select__option--selected {
  border-color: red;
}

.single-select__option--active {
  border-color: green;
}
