.single-select {
  outline: none;
  max-width: 200px;
  border: 2px solid silver;
  margin: 2px;
  padding: 2px;
}

.single-select.is-focused {
  border-color: dimgrey;
}

.single-select-option {
  cursor: pointer;
  border: 2px solid silver;
  padding: 2px;
  margin: 2px;
}

.single-select-option.is-active {
  border-color: green;
}

.single-select-option.is-selected {
  border-color: red;
}
