.single-select {
  outline: none;
  border: 2px solid var(--border-colour);
  display: inline-block;
  margin: 2px;
  padding: 2px;

  &:focus-within {
    border-color: var(--focus-within-border-colour);
  }

  .select-box__option {
    cursor: pointer;
    border: 2px solid var(--border-colour);
    padding: 2px;
    margin: 2px;
    outline: none;
    display: block;
  }

  .select-box__option[aria-current='true'] {
    border-color: var(--aria-current);
  }

  .select-box__option[aria-selected='true'] {
    border-color: var(--aria-selected);
  }
}
