.tag-select {
  display: inline-block;
  min-width: 200px;
  outline: none;
  border: 2px solid silver;
  margin: 2px;
  padding: 2px;

  &:focus-within {
    border-color: dimgrey;
  }

  .select-box__input {
    font-family: serif;
    font-size: 100%;
    border: 0;
    outline: none;
    box-sizing: border-box;
  }

  .select-box__option,
  .select-box__selected-option {
    cursor: pointer;
    border: 2px solid silver;
    padding: 2px;
    margin: 2px;
  }

  .select-box__selected-option {
    display: inline-block;
  }

  .select-box__selected-options {
    display: inline-block;
  }

  .select-box__option[aria-current='true'] {
    border-color: green;
  }
}
