.tag-select {
  display: inline-block;
  min-width: 200px;
  outline: none;
  border: 2px solid silver;
  margin: 2px;
  padding: 2px;
}

.tag-select.is-focused {
  border-color: dimgrey;
}

.tag-select-input {
  font-family: serif;
  font-size: 100%;
  border: 0;
  outline: none;
  box-sizing: border-box;
}

.tag-select-option,
.tag-select-selected-option {
  cursor: pointer;
  border: 2px solid silver;
  padding: 2px;
  margin: 2px;
}

.tag-select-remove {
  cursor: pointer;
  display: inline-block;
}

.tag-select-selected-option {
  display: inline-block;
}

.tag-select-selected-options {
  display: inline-block;
}

.tag-select-option.is-active {
  border-color: green;
}
