:root {
  --font-family: serif;
  --light-grey: gainsboro;
  --dark-grey: dimgrey;
  --green: green;
  --red: red;
  --blue: blue;
  --white: white;
  --space-lg: 6px;
  --space-md: 4px;
  --space-sm: 2px;
}
