<div
  class="select-box__selected-options"
  id={{this.id}}
  {{!-- begin issue: https://github.com/emberjs/rfcs/issues/497 --}}
  {{! template-lint-disable no-invalid-interactive }}
  onclick={{@onclick}}
  {{!-- end issue --}}
  ...attributes
  {{this.lifecycleActions}}
>
  {{yield}}
</div>
