:root {
  --font-family: serif;
  --border-colour: silver;
  --focus-within-border-colour: dimgrey;
  --aria-current: green;
  --aria-selected: red;
}

/* stylelint-disable-next-line */
a {
  display: inline-block;
}

.single-select {
  outline: none;
  border: 2px solid var(--border-colour);
  display: inline-block;
  margin: 2px;
  padding: 2px;
}
.single-select:focus-within {
  border-color: var(--focus-within-border-colour);
}
.single-select .select-box__option {
  cursor: pointer;
  border: 2px solid var(--border-colour);
  padding: 2px;
  margin: 2px;
  outline: none;
  display: block;
}
.single-select .select-box__option[aria-current=true] {
  border-color: var(--aria-current);
}
.single-select .select-box__option[aria-selected=true] {
  border-color: var(--aria-selected);
}

.simple-select {
  display: inline-block;
  min-width: 200px;
  outline: none;
  border: 2px solid var(--border-colour);
  margin: 2px;
  padding: 2px;
}
.simple-select:focus-within {
  border-color: var(--focus-within-border-colour);
}
.simple-select[aria-expanded=true] .select-box__options {
  display: block;
}
.simple-select .select-box__option,
.simple-select .select-box__selected-option {
  cursor: pointer;
  border: 2px solid var(--border-colour);
  margin: 2px;
  padding: 2px;
}
.simple-select .select-box__options {
  display: none;
  max-height: 200px;
  overflow: auto;
}
.simple-select .select-box__option[aria-selected=true] {
  border-color: var(--aria-selected);
}
.simple-select .select-box__option[aria-current=true] {
  border-color: var(--aria-current);
}
.simple-select .select-box__selected-option {
  min-height: 18px;
}

.native-simple-select {
  display: inline-block;
  position: relative;
  border: 2px solid var(--border-colour);
  padding: 2px;
  cursor: pointer;
}
.native-simple-select:focus-within {
  border-color: var(--focus-within-border-colour);
}
.native-simple-select .select-box {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
}

.filter-select {
  display: inline-block;
  min-width: 200px;
  outline: none;
  border: 2px solid var(--border-colour);
  margin: 2px;
  padding: 2px;
}
.filter-select:focus-within {
  border-color: var(--focus-within-border-colour);
}
.filter-select .select-box__option,
.filter-select .select-box__selected-option {
  cursor: pointer;
  border: 2px solid var(--border-colour);
  padding: 2px;
  margin: 2px;
}
.filter-select .select-box__input {
  font-family: var(--font-family);
  font-size: 100%;
  border: 0;
  outline: none;
  width: 100%;
  box-sizing: border-box;
}
.filter-select .select-box__option[aria-selected=true] {
  border-color: var(--aria-selected);
}
.filter-select .select-box__option[aria-current=true] {
  border-color: var(--aria-current);
}

.search-select {
  display: inline-block;
  min-width: 200px;
  outline: none;
  border: 2px solid var(--border-colour);
  margin: 2px;
  padding: 2px;
}
.search-select:focus-within {
  border-color: var(--focus-within-border-colour);
}
.search-select .select-box__option,
.search-select .select-box__selected-option {
  cursor: pointer;
  border: 2px solid var(--border-colour);
  padding: 2px;
  margin: 2px;
}
.search-select .select-box__input {
  font-family: var(--font-family);
  font-size: 100%;
  border: 0;
  outline: none;
  width: 100%;
  box-sizing: border-box;
}
.search-select .select-box__option[aria-selected=true] {
  border-color: var(--aria-selected);
}
.search-select .select-box__option[aria-current=true] {
  border-color: var(--aria-current);
}

.tag-select {
  display: inline-block;
  min-width: 200px;
  outline: none;
  border: 2px solid var(--border-colour);
  margin: 2px;
  padding: 2px;
}
.tag-select:focus-within {
  border-color: var(--focus-within-border-colour);
}
.tag-select .select-box__input {
  font-family: var(--font-family);
  font-size: 100%;
  border: 0;
  outline: none;
  box-sizing: border-box;
}
.tag-select .select-box__option {
  cursor: pointer;
}
.tag-select .select-box__option,
.tag-select .select-box__selected-option {
  border: 2px solid var(--border-colour);
  padding: 2px;
  margin: 2px;
}
.tag-select .select-box__selected-option {
  display: inline-block;
}
.tag-select .select-box__selected-options {
  display: inline-block;
}
.tag-select .select-box__option[aria-current=true] {
  border-color: var(--aria-current);
}

.colour-select {
  display: inline-block;
  outline: none;
}
.colour-select:focus-within .select-box__selected-option {
  border-color: var(--focus-within-border-colour);
}
.colour-select .select-box__option,
.colour-select .select-box__selected-option {
  cursor: pointer;
  width: 20px;
  height: 20px;
  border: 2px solid var(--border-colour);
  padding: 2px;
  margin: 2px;
}
.colour-select .select-box__option {
  display: inline-block;
}
.colour-select .select-box__option[aria-current=true] {
  border-color: var(--aria-current);
}
.colour-select .select-box__option[aria-selected=true] {
  border-color: var(--aria-selected);
}