:root {
  --font-family: serif;
  --light-grey: gainsboro;
  --dark-grey: dimgrey;
  --green: green;
  --red: red;
  --blue: blue;
  --white: white;
  --space-xl: 10px;
  --space-l: 6px;
  --space-m: 4px;
  --space-s: 2px;
}
