<div
  {{will-destroy (action "willDestroyElement")}}
  class={{select-box-class @classNamePrefix "options"}}
  role="listbox"

  {{! Issue: https://github.com/emberjs/rfcs/issues/497 }}
  aria-activedescendant={{@aria-activedescendant}}

  ...attributes>
  {{yield}}
</div>