<h1>
  @zestia/ember-select-box
</h1>

{{! template-lint-disable no-inline-styles }}
<a href="https://github.com/zestia/ember-select-box">
  <img
    style="position: absolute; top: 0; right: 0; border: 0;"
    width="149"
    height="149"
    src="https://github.blog/wp-content/uploads/2008/12/forkme_right_darkblue_121621.png?resize=149%2C149"
    class="attachment-full size-full"
    alt="Fork me on GitHub"
    data-recalc-dims="1"
  />
</a>

<p>
  <LinkTo @route="native-single-select">
    Native single select
  </LinkTo>
  |
  <LinkTo @route="native-multiple-select">
    Native multiple select
  </LinkTo>
  |
  <LinkTo @route="fast-native-single-select">
    Fast native single select
  </LinkTo>
  |
  <LinkTo @route="native-simple-select">
    Native simple select
  </LinkTo>
  |
  <LinkTo @route="single-select">
    Single select
  </LinkTo>
  |
  <LinkTo @route="simple-select">
    Simple select
  </LinkTo>
  |
  <LinkTo @route="filter-select">
    Filter select
  </LinkTo>
  |
  <LinkTo @route="search-select">
    Search select
  </LinkTo>
  |
  <LinkTo @route="tag-select">
    Tag select
  </LinkTo>
  |
  <LinkTo @route="colour-select">
    Colour select
  </LinkTo>
</p>

<p>
  <strong>Please note</strong> these demos are very minimal. It is up to the developer to utilise the select box's API to flesh out the behaviour.
</p>

{{outlet}}