<div tabindex="0" {{on "focusout" this.handleFocusOut}}>
  {{#if this.value}}
    {{this.value}}
  {{else}}
    <input>
  {{/if}}

  <div role="button" {{on "click" this.handleClick}}>
    Click me to set a value
  </div>
</div>