<p>
  Demonstration of a simple faux select box.
  <a href="#">component.js</a>
  |
  <a href="https://github.com/zestia/ember-select-box/blob/master/tests/dummy/app/templates/components/colour-select.hbs">template.hbs</a>
</p>

<ColourSelect @value={{this.selectedColour}} @onSelect={{this.selectColour}} />

<p>
  Selected colour: {{this.selectedColour}}
</p>