<p>
  Demonstration of a simple faux select box.
</p>

<p>
  <a
    href="https://github.com/zestia/ember-select-box/blob/master/tests/dummy/app/components/colour-select.js"
  >
    js
  </a>
  |
  <a
    href="https://github.com/zestia/ember-select-box/blob/master/tests/dummy/app/templates/components/colour-select.hbs"
  >
    hbs
  </a>
</p>

<ColourSelect @value={{this.selectedColour}} @onSelect={{this.selectColour}} />

<p>
  Selected colour: {{this.selectedColour}}
</p>