<p>
  <a href="https://github.com/zestia/ember-select-box/blob/master/tests/dummy/app/components/colour-select.js">Demonstration</a>
  of a simple faux select box.
</p>

{{colour-select value=selectedColour on-select=(action "selectedColour")}}

<p>
  Selected colour: {{selectedColour}}
</p>