<p>
  This addon utilises a dropdown component to create comboboxes that can open
  and close like a native single select.
</p>

<Dropdown class="example" as |dd|>
  <dd.Trigger>
    Click here
  </dd.Trigger>
  {{#if dd.isOpen}}
    <dd.Content>
      <div>
        Non interactive element
      </div>
      <a href="#">
        Interactive element
      </a>
    </dd.Content>
  {{/if}}
</Dropdown>