{{#select-box/native on-select=(action 'selectModelId') as |sb|}}
  {{#each options as |option|}}
    {{! Intentionally does not use sb.option }}
    <option value={{option.model.id}} selected={{option.selected}}>
      {{option.model.name}}
    </option>
  {{/each}}
{{/select-box/native}}


<p>
  Selected model: {{selectedModel.name}}
</p>