{{#filter-select
  label-key="name"
  on-search=(action "filterPies")
  on-select=(action "selectedPie") as |sb|}}
  {{#each selectablePies as |pie|}}
    {{sb.option value=pie label=pie.name}}
  {{else}}
    {{#sb.option}}No pies found{{/sb.option}}
  {{/each}}
{{/filter-select}}

<p>
  Selected pie: {{selectedPie.name}}
</p>