<p>
  Demonstration of a faux select box with an input element that can be used for filtering the
  available options.
</p>

{{#filter-select
  label-key="name"
  on-search=(action "filterPies")
  on-select=(action "selectedPie") as |sb|}}
  {{#each selectablePies as |pie|}}
    {{#sb.option value=pie}}
      {{pie.name}}
    {{/sb.option}}
  {{else}}
    {{#sb.option}}No pies found{{/sb.option}}
  {{/each}}
{{/filter-select}}

<p>
  Selected pie: {{selectedPie.name}}
</p>