<p>
  <a href="https://github.com/zestia/ember-select-box/blob/master/tests/dummy/app/templates/native-single-select.hbs">Demonstration</a>
  of a native select box, that can have non-primitive values. Useful for assigning Ember Data models to each option.
</p>

{{#select-box/native
  value=selectedDessert
  on-select=(action "selectedDessert") as |sb|}}
  {{#sb.group label="Cakes"}}
    {{#each selectableCakes as |cake|}}
      {{#sb.option value=cake}}
        {{cake.name}}
      {{/sb.option}}
    {{/each}}
  {{/sb.group}}
  {{#sb.group label="Puddings"}}
    {{#each selectablePuddings as |pudding|}}
      {{#sb.option value=pudding}}
        {{pudding.name}}
      {{/sb.option}}
    {{/each}}
  {{/sb.group}}
{{/select-box/native}}


<p>
  Selected dessert: {{selectedDessert.name}}
</p>