<p>
  Demonstration of a native multiple select box with groups
</p>

{{#select-box/native
  size=12
  multiple=true
  value=selectedDesserts
  on-select=(action "selectedDesserts") as |sb|}}
  {{#sb.group label="Pastries"}}
    {{#each selectablePastries as |pastry|}}
      {{#sb.option value=pastry}}
        {{pastry.name}}
      {{/sb.option}}
    {{/each}}
  {{/sb.group}}
  {{#sb.group label="Biscuits"}}
    {{#each selectableBiscuits as |biscuit|}}
      {{#sb.option value=biscuit}}
        {{biscuit.name}}
      {{/sb.option}}
    {{/each}}
  {{/sb.group}}
{{/select-box/native}}

<p>
  Selected desserts:
</p>

<ul>
  {{#each selectedDesserts as |dessert|}}
    <li>{{dessert.name}}</li>
  {{/each}}
</ul>