<p>
  <a href="https://github.com/zestia/ember-select-box/blob/master/tests/dummy/app/components/simple-select.js">Demonstration</a>
  of faux select box that can be opened and closed, and is keyboard navigatable.<br>
  Typing characters will jump to an appopriate option, to mimic native select box behaviour.
</p>

{{#simple-select
  value=selectedPudding
  label-key="name"
  on-select=(action "selectedPudding") as |sb|}}
  {{#each selectablePuddings as |pudding|}}
    {{#sb.option value=pudding}}
      {{pudding.name}}
    {{/sb.option}}
  {{/each}}
{{/simple-select}}


<p>
  Selected pudding: {{selectedPudding.name}}
</p>