{{tag-select
  value=selectedTagNames
  on-tag=(action 'tag')
  on-detag=(action 'detag')
  on-search=(action 'findTags')}}


<p>
  Selected tags:
</p>

<ul>
  {{#each selectedTags as |tag|}}
    <li>id = {{tag.id}}, name= {{tag.name}}</li>
  {{/each}}
</ul>
