<p>
  Demonstration of rendering selected options.
</p>

<p>
  <a
    href="https://github.com/zestia/ember-select-box/blob/master/tests/dummy/app/components/tag-select.js"
  >
    js
  </a>
  |
  <a
    href="https://github.com/zestia/ember-select-box/blob/master/tests/dummy/app/templates/components/tag-select.hbs"
  >
    hbs
  </a>
</p>

<TagSelect
  @value={{this.selectedTagNames}}
  @onSelect={{this.handleSelectTags}}
  @onSearch={{this.filterTagNames}}
/>